.project__heading{
  text-align: center;
}

.project{
padding-top: 2rem;
background-color: rgba(172,171,169, 0.2);
width: 100%;
}

.projects{
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}