#about {
  margin: 80px 80px 0px 80px;
  /* min-height: 40rem; */
}

/* .bio{
  max-width: 50%;
} */

.avatar__bio {
  display: flex;
  flex-direction: row-reverse;
}

#avatar__head {
  max-height: 400px;
  min-width: 100px;
}

#avatar {
  max-height: 400px;
  width: 100%;
  object-fit: contain;
}

.softIcons {
  /* max-width: 50%; */
  display: flex;
  justify-content: space-between;
}

.softIcon {
  color: rgb(26, 57, 111);
  text-decoration: none;
}

.skillFont {
  color: black;
}

/* .skills{
  padding-top: 5%;
} */

.info {
  color: black;
  padding-right: 23px;
}

.technologies__list {
  display: flex;
  word-wrap: break-word;
}
