#about{
  margin: 80px 80px 0px 80px ;
  min-height: 40rem;

}
.bio{
  max-width: 50%;
}


#avatar{
  position: relative;
  float: right;
  max-height: 40rem;
  max-width: 30rem;
}

.softIcons{
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}

.softIcon{
  color: rgb(26,57,111);
  text-decoration: none;
  padding-right: 23px;
}

.skillFont{
  color: black;
}

.skills{
  padding-top: 5%;
}