#about{
  margin: 80px 80px 0px 80px ;
}
.bio{
  max-width: 50%;
}

.decoyimg{
  background-color:  black;
  color: white;
  text-align: center;
  height: 400px;
  width: 500px;
  float: right;
}


.softIcons{
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}

.softIcon{
  color: rgb(26,57,111);
  text-decoration: none;
}

.skillFont{
  color: black;
  
}