.about {
  padding: 2rem 4rem;

  @media (max-width: 900px) {
    margin-top: 1rem;
    padding: 0;
  }
  @media (max-width: 600px) {
    margin-top: 2rem;
    padding: 0;
  }

  &__header {
    letter-spacing: 0.2rem;
    font-weight: 300;

    @media (max-width: 1250px) {
      text-align: center;
    }
    @media (max-width: 600px) {
      font-size: 1.4rem;
    }
  }

  &__bio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;

    &__para {
      margin-top: 1rem;

      @media (max-width: 1250px) {
        text-align: center;
      }
      @media (max-width: 600px) {
        font-size: 0.6rem;
      }
    }

    &__avatar {
      height: 350px;

      @media (max-width: 1250px) {
        padding-top: 1.5rem;
        margin: auto;
      }
    }

    &__text {
      width: 48rem;

      @media (max-width: 1250px) {
        margin: auto;
      }

      @media (max-width: 900px) {
        margin: auto;
      }

      @media (max-width: 600px) {
        margin: auto;
        font-size: 0.6rem;
      }
    }
  }

  .skills {
    margin-top: 2rem;
    &__heading {
      letter-spacing: 0.2rem;
      font-weight: 300;

      @media (max-width: 600px) {
        text-align: center;
        font-size: 1rem;
      }
    }
  }

  .softIcons {
    display: flex;

    @media (max-width: 600px) {
      flex-wrap: wrap;
      // &:first-child {
      //   padding-left: 2rem;
      // }
    }

    &__softIcon {
      &:not(:first-child) {
        padding-left: 2rem;

        @media (max-width: 600px) {
          padding-left: 0rem;
        }
      }

      .skillFont {
        @media (max-width: 600px) {
          font-size: 0.8rem;
        }
      }
    }
  }

  .technologies {
    &__header {
      letter-spacing: 0.2rem;
      font-weight: 300;
      margin: 1rem 0;

      @media (max-width: 600px) {
        text-align: center;
        font-size: 1rem;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
