.project {
  &__heading {
    margin: 2rem 0;

    letter-spacing: 0.2rem;
    font-weight: 300;
    text-align: center;

    @media (max-width: 1250px) {
    }

    @media (max-width: 900px) {
    }

    @media (max-width: 600px) {
      font-size: 1.4rem;
    }
  }

  &__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media (max-width: 1250px) {
    }

    @media (max-width: 900px) {
    }

    @media (max-width: 600px) {
    }
  }
}

.pro {
  @media (max-width: 1250px) {
    margin-bottom: 2rem;
  }

  @media (max-width: 900px) {
    margin-bottom: 2rem;
  }

  @media (max-width: 600px) {
    margin-bottom: 2rem;
  }
}
